

/* ***********************************************
Login Page:
CONTROLS: UserName,Authentication Result, PIN, All New PIN Messaging Area
*********************************************** */

.txtstyle {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.0px;
	color:#000099;
}






/* ***********************************************
Login Page:
CONTROLS: Area of the "Authentication Result"
*********************************************** */

.txtstyle2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color:#FF0000;
	letter-spacing: 0.0px;
}






/* ***********************************************
Login Page:
CONTROLS: Area Where PIN is Entered
*********************************************** */

.enterstyle {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0.0px;
	color:#004080;
}






/* ***********************************************
Login Page:
CONTROLS: Words underneath CRYPTOCard Logo
*********************************************** */

.txtstyle3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 0.0px;
	color:#000066;
}






/* ***********************************************
Login Page:
CONTROLS: Congratulations Banner
*********************************************** */

.txtstyle4 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 0.0px;
	color:#0000CC;
}




/* ***********************************************
Login Page:
CONTROLS: Congratulations Banner
*********************************************** */

.txtstyle5 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: regular;
	font-size: 14px;
	letter-spacing: 0.0px;
	color:#000000;
}



/* ***********************************************
Login Page:
CONTROLS: All Rights Reserved
*********************************************** */

.arr {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: regular;
	font-size: 11px;
	letter-spacing: 0.0px;
	color:#000000;
}